/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "roboto", sans-serif;
}

h1 {
  font-size: 1.5em;
}

.search__form__presentation__subhead {
  font-size: 1.1em;
  font-weight: 300;
}

.restaurants__container__card__description__txt--name {
  font-weight: 500;
  font-size: 1.2em;
  text-transform: capitalize;
}

.restaurants__container__card__description__txt--location {
  font-weight: 300;
}

.footer__container__title {
  font-family: shrikhand;
  font-size: 1.2em;
}

.fa-heart {
  font-size: 1.4em;
}

.menu h1 {
  font-family: shrikhand;
  font-size: 1.7em;
}
@media screen and (min-width: 992px) {
  .menu h1 {
    font-size: 2em;
  }
}

.menu h2 {
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
}

.search__form__presentation--btn {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  color: #ffffff;
  background: linear-gradient(180deg, #ff79da, #9356dc);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 25px;
  width: 220px;
  cursor: pointer;
}
.search__form__presentation--btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  background: linear-gradient(180deg, #ffa2e5, #a978e3);
}
@media screen and (min-width: 768px) {
  .search__form__presentation--btn {
    position: absolute;
    right: 5%;
    top: 11px;
  }
}

.menu__body__btn-container {
  display: flex;
  justify-content: space-around;
}
.menu__body__btn-container--btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  color: #ffffff;
  background: linear-gradient(180deg, #ff79da, #9356dc);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 25px;
  width: 186px;
  cursor: pointer;
}
.menu__body__btn-container--btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  background: linear-gradient(180deg, #ffa2e5, #a978e3);
}
@media screen and (min-width: 992px) {
  .menu__body__btn-container--btn {
    position: absolute;
    right: 4%;
    top: 585px;
  }
}

.restaurants__container__card__description--fav {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  position: relative;
}
.restaurants__container__card__description--fav--checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.restaurants__container__card__description--fav--checkbox:checked ~ label i:nth-child(1) {
  animation: fav 150ms ease-in-out 0ms forwards;
  animation-direction: normal;
}
.restaurants__container__card__description--fav--checkbox:checked ~ label i:nth-child(2) {
  animation: fav 150ms ease-in-out 150ms forwards;
  animation-direction: reverse;
}
@media screen and (min-width: 992px) {
  .restaurants__container__card__description--fav:hover label i:nth-child(1) {
    animation: fav 150ms ease-in-out 0ms forwards;
    animation-direction: normal;
  }
  .restaurants__container__card__description--fav:hover label i:nth-child(2) {
    animation: fav 150ms ease-in-out 150ms forwards;
    animation-direction: reverse;
  }
}

.restaurants i {
  position: absolute;
  right: 5px;
  top: 6px;
}

.menu .fa-heart {
  position: absolute;
}

.fa-solid.fa-heart {
  background: linear-gradient(180deg, #9356dc, #ff79da);
  background-clip: text;
  color: transparent;
  opacity: 0;
}

.loader {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 5em;
  justify-content: center;
  animation: linear 2800ms forwards;
}

@keyframes loader {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader i {
  position: absolute;
  top: 28%;
}

.loader i:nth-child(1) {
  color: #9356dc;
  animation: spin 1400ms linear 0s forwards;
  opacity: 0;
}

.loader i:nth-child(2) {
  color: #99e2d0;
  animation: spin 1400ms linear 1400ms forwards;
  opacity: 0;
}

@keyframes spin {
  0% {
    rotate: 0deg;
    scale: 100%;
    opacity: 1;
  }
  50% {
    rotate: 180deg;
    scale: 120%;
  }
  95% {
    opacity: 1;
  }
  100% {
    rotate: 360deg;
    scale: 100%;
    opacity: 0;
  }
}
.container-index {
  animation: loading 2800ms forwards;
}

@keyframes loading {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  95% {
    transform: translateX(100%);
  }
  96% {
    transform: translateX(0%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fav {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  20% {
    transform: scale(1.5);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  20% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@media screen and (min-width: 768px) {
  .menu__body__starter {
    animation: menu-animation 500ms forwards cubic-bezier(0.09, 1, 0.28, 0.86);
  }
}

@media screen and (min-width: 768px) {
  .menu__body__meal {
    animation: menu-animation 500ms forwards 500ms cubic-bezier(0.09, 1, 0.28, 0.86);
  }
}

@media screen and (min-width: 768px) {
  .menu__body__dessert {
    animation: menu-animation 500ms forwards 1000ms cubic-bezier(0.09, 1, 0.28, 0.86);
  }
}

@keyframes choice-animation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  20% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.header {
  display: flex;
  height: 65px;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (min-width: 992px) {
  .header {
    height: 100px;
    padding-top: 20px;
  }
}
.header__logo {
  display: inline-block;
  width: 160px;
  height: 30px;
}
.header--index-link {
  position: absolute;
  left: 23px;
}
@media screen and (min-width: 992px) {
  .header--index-link {
    display: none;
  }
}
.header--index-link--large {
  display: none;
}
.header--index-link--large a {
  text-decoration: none;
  color: white;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  background-color: #99e2d0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
.header--index-link--large a:hover {
  background: #c1ede2;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 992px) {
  .header--index-link--large {
    display: block;
  }
}

.fa-arrow-left {
  color: #000000;
}

.search {
  position: relative;
}
.search--inner-shadow-top {
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #e9e9e9;
  height: 4px;
  padding-left: 5%;
  padding-right: 5%;
}
.search__form {
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
}
.search__form__head {
  display: flex;
  width: 162px;
  justify-content: space-between;
  height: 46px;
  margin: 0 auto;
  align-items: center;
  padding-bottom: 4px;
  color: #444444;
}
@media screen and (min-width: 768px) {
  .search__form__head {
    height: 70px;
    margin: 0 0 0 5%;
  }
}
.search__form__head--location {
  background-color: inherit;
  border: none;
  padding-left: 18px;
}
.search__form__head--location:focus {
  outline: none;
}
@media screen and (min-width: 768px) {
  .search__form__head--location {
    height: 90%;
    width: 400px;
  }
}
.search__form__presentation {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  align-items: center;
  text-align: center;
  height: 290px;
}
@media screen and (min-width: 768px) {
  .search__form__presentation {
    align-items: flex-start;
    height: 130px;
  }
}
.search__form__presentation__title {
  padding-left: 17%;
  padding-right: 17%;
  margin-top: 40px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .search__form__presentation__title {
    padding-left: 5%;
    margin-top: 20px;
  }
}
.search__form__presentation__subhead {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .search__form__presentation__subhead {
    padding-left: 5%;
  }
}

.functionning {
  height: 440px;
  padding-top: 40px;
  padding-left: 5%;
  padding-right: 5%;
}
@media screen and (min-width: 768px) {
  .functionning {
    height: auto;
  }
}
.functionning__title {
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .functionning__title {
    margin-bottom: 60px;
  }
}
.functionning__list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .functionning__list {
    align-items: center;
  }
}
.functionning__list--card {
  display: flex;
  align-items: center;
  height: 75px;
  width: calc(100% - 10px);
  padding-left: 0;
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  align-self: flex-end;
  margin-bottom: 25px;
  position: relative;
  padding-left: 10%;
  padding-right: 25%;
}
@media screen and (min-width: 768px) {
  .functionning__list--card {
    width: 500px;
    height: 100px;
    align-self: center;
    font-size: 1.3em;
    margin-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.functionning__list--card:hover {
  background-color: #f2eafb;
}
.functionning__list--card:hover .functionning__list--card--icon {
  color: #9356dc;
}
.functionning__list--card__number {
  display: flex;
  font-size: 0.7em;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #9356dc;
  color: white;
  position: absolute;
  left: -10px;
}
.functionning__list--card__title {
  margin-left: 20px;
}
.functionning__list--card--icon {
  display: inline-block;
  color: grey;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .functionning__list--card--icon {
    margin-right: 60px;
  }
}

.restaurants {
  height: 1225px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f1f1f1;
  padding-top: 45px;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .restaurants {
    height: fit-content;
  }
}
@media screen and (min-width: 992px) {
  .restaurants {
    background-color: #fff;
  }
}
.restaurants__title {
  margin-top: 0;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .restaurants__title {
    margin-bottom: 80px;
  }
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  height: 525px;
  margin-bottom: 18px;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .restaurants__container {
    flex-direction: row;
    height: fit-content;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 992px) {
  .restaurants__container {
    margin-bottom: 100px;
    justify-content: space-around;
  }
}
.restaurants__container__card {
  display: flex;
  flex-direction: column;
  height: 48.5714285714%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 768px) {
  .restaurants__container__card {
    width: 340px;
    height: 255px;
  }
}
@media screen and (min-width: 992px) {
  .restaurants__container__card {
    width: 430px;
    height: 375px;
  }
  .restaurants__container__card:hover {
    color: #9356dc;
    box-shadow: 0 8px 16px 0 #f2eafb;
  }
}
.restaurants__container__card__link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.restaurants__container__card__c-photo--la-palette-du-gout {
  background: url("../Assets/restaurants/la-palette-du-gout.jpg");
  background-repeat: no-repeat;
  background-size: 100% 130%;
  background-position-y: -50px;
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 992px) {
  .restaurants__container__card__c-photo--la-palette-du-gout {
    background-position-y: -75px;
  }
}
.restaurants__container__card__c-photo--la-note-enchantee {
  background: url("../Assets/restaurants/la-note-enchantee.jpg");
  background-repeat: no-repeat;
  background-size: 100% 225%;
  background-position-y: -130px;
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 992px) {
  .restaurants__container__card__c-photo--la-note-enchantee {
    background-position-y: -200px;
  }
}
.restaurants__container__card__c-photo--a-la-francaise {
  background: url("../Assets/restaurants/a-la-francaise.jpg");
  background-repeat: no-repeat;
  background-size: 100% 140%;
  background-position-y: -60px;
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 992px) {
  .restaurants__container__card__c-photo--a-la-francaise {
    background-position-y: -80px;
  }
}
.restaurants__container__card__c-photo--le-delice-des-sens {
  background: url("../Assets/restaurants/le-delice-des-sens.jpg");
  background-repeat: no-repeat;
  background-size: 100% 120%;
  background-position-y: -35px;
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 992px) {
  .restaurants__container__card__c-photo--le-delice-des-sens {
    background-position-y: -50px;
  }
}
.restaurants__container__card__c-photo--new-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 25px;
  color: #32b091;
  background-color: #99e2d0;
  box-shadow: -1px 0 1px 1px #99e2d0;
  position: absolute;
  right: 10px;
  top: -3px;
}
.restaurants__container__card__description {
  display: flex;
  height: 31.3725490196%;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 5px 15px;
  position: relative;
}
.restaurants__container__card__description__txt {
  display: flex;
  flex-direction: column;
  height: 44px;
  justify-content: space-between;
}
.restaurants__container__card__description__txt--name {
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
}
.restaurants__container__card__description__txt--location {
  margin-top: 0;
  margin-bottom: 0;
}

.footer {
  background-color: #444444;
  height: 200px;
  color: white;
}
@media screen and (min-width: 992px) {
  .footer {
    height: 150px;
  }
}
.footer__container {
  width: 86.6666666667%;
  height: 135px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5px;
}
.footer__container__list {
  padding-left: 0;
  list-style-type: none;
}
@media screen and (min-width: 992px) {
  .footer__container__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }
}
.footer__container__list__item {
  margin-bottom: 10px;
}
.footer__container__list__item--link {
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 992px) {
  .footer__container__list__item--link:hover {
    color: #9356dc;
  }
}

footer i {
  width: 20px;
}

.container, .container-index {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .container, .container-index {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.main--la-palette-du-gout {
  background: url("../Assets/restaurants/la-palette-du-gout.jpg");
  background-repeat: no-repeat;
  background-size: 100% 260px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .main--la-palette-du-gout {
    background-size: 100% 400px;
  }
}
@media screen and (min-width: 992px) {
  .main--la-palette-du-gout {
    background-size: 55% 400px;
    background-position-x: 0;
    background-color: #f1f1f1;
    position: relative;
  }
}
.main--la-note-enchantee {
  background: url("../Assets/restaurants/la-note-enchantee.jpg");
  background-repeat: no-repeat;
  background-size: 100% 480px;
  background-position-y: -90px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .main--la-note-enchantee {
    background-size: 100% 400px;
  }
}
@media screen and (min-width: 992px) {
  .main--la-note-enchantee {
    background-size: 55% 500px;
    background-position-x: 0;
    background-color: #f1f1f1;
    position: relative;
  }
}
.main--a-la-francaise {
  background: url("../Assets/restaurants/a-la-francaise.jpg");
  background-repeat: no-repeat;
  background-size: 100% 275px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .main--a-la-francaise {
    background-size: 100% 400px;
  }
}
@media screen and (min-width: 992px) {
  .main--a-la-francaise {
    background-size: 55% 400px;
    background-position-x: 0;
    background-color: #f1f1f1;
    position: relative;
  }
}
.main--le-delice-des-sens {
  background: url("../Assets/restaurants/le-delice-des-sens.jpg");
  background-repeat: no-repeat;
  background-size: 100% 275px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .main--le-delice-des-sens {
    background-size: 100% 400px;
  }
}
@media screen and (min-width: 992px) {
  .main--le-delice-des-sens {
    background-size: 55% 400px;
    background-position-x: 0;
    background-color: #f1f1f1;
    position: relative;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 220px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  background-color: #f1f1f1;
  padding-top: 20px;
  padding-bottom: 70px;
  padding-left: 4%;
  padding-right: 4%;
}
@media screen and (min-width: 768px) {
  .menu {
    margin-top: 260px;
  }
}
@media screen and (min-width: 992px) {
  .menu {
    margin-top: 400px;
    border-radius: 0px;
    background-color: white;
    padding-left: 0;
  }
}
.menu__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1%;
}
@media screen and (min-width: 992px) {
  .menu__head {
    position: absolute;
    right: 1%;
    top: 150px;
    width: 385px;
    font-size: 1em;
  }
}
.menu__head--fav {
  margin-right: 7%;
  position: relative;
  width: 23px;
  height: 23px;
}
.menu__head--fav--checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.menu__head--fav--checkbox:checked ~ label i:nth-child(1) {
  animation: fav 150ms ease-in-out 0ms forwards;
  animation-direction: normal;
}
.menu__head--fav--checkbox:checked ~ label i:nth-child(2) {
  animation: fav 150ms ease-in-out 150ms forwards;
  animation-direction: reverse;
}
.menu__body__starter {
  margin-bottom: 45px;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .menu__body__starter {
    animation: menu-animation 500ms forwards cubic-bezier(0.09, 1, 0.28, 0.86);
  }
}
@media screen and (min-width: 992px) {
  .menu__body__starter {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f1f1f1;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 750px;
    margin-left: 10px;
  }
}
.menu__body__starter__underline {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 3px solid #99e2d0;
}
.menu__body__starter__title {
  margin-left: 1%;
  margin-bottom: 14px;
}
.menu__body__starter__choice {
  position: relative;
  display: flex;
  min-height: 70px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  align-items: flex-end;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
  opacity: 0;
  animation: choice-animation 200ms forwards ease-out;
}
.menu__body__starter__choice--checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.menu__body__starter__choice:nth-child(1) {
  animation-delay: 200ms;
}
.menu__body__starter__choice:nth-child(2) {
  animation-delay: 400ms;
}
.menu__body__starter__choice:nth-child(3) {
  animation-delay: 600ms;
}
.menu__body__starter__choice:nth-child(4) {
  animation-delay: 800ms;
}
@media screen and (min-width: 992px) {
  .menu__body__starter__choice {
    margin-bottom: 25px;
  }
  .menu__body__starter__choice:hover .menu__body__starter__choice--checked {
    display: flex;
  }
  .menu__body__starter__choice:hover .menu__body__starter__choice__text {
    white-space: nowrap;
    max-width: 74%;
  }
}
.menu__body__starter__choice__text {
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 82%;
}
.menu__body__starter__choice__text__title {
  font-size: 1.12em;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
  margin-bottom: 0;
}
.menu__body__starter__choice__text__subhead {
  font-size: 0.924em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 0;
}
.menu__body__starter__choice__price {
  font-weight: 500;
  margin-bottom: 12px;
  padding-right: 15px;
}
.menu__body__starter__choice--checked {
  display: none;
  flex-basis: 17%;
  min-width: 60px;
  background-color: #99e2d0;
  min-height: 70px;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.menu__body__starter__choice--checkbox:checked ~ .menu__body__starter__choice--checked {
  display: flex;
}
.menu__body__starter__choice--checkbox:checked + .menu__body__starter__choice__text {
  white-space: nowrap;
  max-width: 65%;
}
.menu__body__meal {
  margin-bottom: 45px;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .menu__body__meal {
    animation: menu-animation 500ms forwards cubic-bezier(0.09, 1, 0.28, 0.86);
  }
}
@media screen and (min-width: 992px) {
  .menu__body__meal {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f1f1f1;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 750px;
    margin-left: 10px;
  }
}
.menu__body__meal__underline {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 3px solid #99e2d0;
}
.menu__body__meal__title {
  margin-left: 1%;
  margin-bottom: 14px;
}
.menu__body__meal__choice {
  position: relative;
  display: flex;
  min-height: 70px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  align-items: flex-end;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
  opacity: 0;
  animation: choice-animation 200ms forwards ease-out;
}
.menu__body__meal__choice--checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.menu__body__meal__choice:nth-child(1) {
  animation-delay: 200ms;
}
.menu__body__meal__choice:nth-child(2) {
  animation-delay: 400ms;
}
.menu__body__meal__choice:nth-child(3) {
  animation-delay: 600ms;
}
.menu__body__meal__choice:nth-child(4) {
  animation-delay: 800ms;
}
@media screen and (min-width: 992px) {
  .menu__body__meal__choice {
    margin-bottom: 25px;
  }
  .menu__body__meal__choice:hover .menu__body__meal__choice--checked {
    display: flex;
  }
  .menu__body__meal__choice:hover .menu__body__meal__choice__text {
    white-space: nowrap;
    max-width: 74%;
  }
}
.menu__body__meal__choice__text {
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 82%;
}
.menu__body__meal__choice__text__title {
  font-size: 1.12em;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
  margin-bottom: 0;
}
.menu__body__meal__choice__text__subhead {
  font-size: 0.924em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 0;
}
.menu__body__meal__choice__price {
  font-weight: 500;
  margin-bottom: 12px;
  padding-right: 15px;
}
.menu__body__meal__choice--checked {
  display: none;
  flex-basis: 17%;
  min-width: 60px;
  background-color: #99e2d0;
  min-height: 70px;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.menu__body__meal__choice--checkbox:checked ~ .menu__body__meal__choice--checked {
  display: flex;
}
.menu__body__meal__choice--checkbox:checked + .menu__body__meal__choice__text {
  white-space: nowrap;
  max-width: 65%;
}
.menu__body__dessert {
  margin-bottom: 45px;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .menu__body__dessert {
    animation: menu-animation 500ms forwards cubic-bezier(0.09, 1, 0.28, 0.86);
  }
}
@media screen and (min-width: 992px) {
  .menu__body__dessert {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f1f1f1;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 750px;
    margin-left: 10px;
  }
}
.menu__body__dessert__underline {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 3px solid #99e2d0;
}
.menu__body__dessert__title {
  margin-left: 1%;
  margin-bottom: 14px;
}
.menu__body__dessert__choice {
  position: relative;
  display: flex;
  min-height: 70px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  align-items: flex-end;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
  opacity: 0;
  animation: choice-animation 200ms forwards ease-out;
}
.menu__body__dessert__choice--checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.menu__body__dessert__choice:nth-child(1) {
  animation-delay: 200ms;
}
.menu__body__dessert__choice:nth-child(2) {
  animation-delay: 400ms;
}
.menu__body__dessert__choice:nth-child(3) {
  animation-delay: 600ms;
}
.menu__body__dessert__choice:nth-child(4) {
  animation-delay: 800ms;
}
@media screen and (min-width: 992px) {
  .menu__body__dessert__choice {
    margin-bottom: 25px;
  }
  .menu__body__dessert__choice:hover .menu__body__dessert__choice--checked {
    display: flex;
  }
  .menu__body__dessert__choice:hover .menu__body__dessert__choice__text {
    white-space: nowrap;
    max-width: 74%;
  }
}
.menu__body__dessert__choice__text {
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 82%;
}
.menu__body__dessert__choice__text__title {
  font-size: 1.12em;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
  margin-bottom: 0;
}
.menu__body__dessert__choice__text__subhead {
  font-size: 0.924em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 0;
}
.menu__body__dessert__choice__price {
  font-weight: 500;
  margin-bottom: 12px;
  padding-right: 15px;
}
.menu__body__dessert__choice--checked {
  display: none;
  flex-basis: 17%;
  min-width: 60px;
  background-color: #99e2d0;
  min-height: 70px;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.menu__body__dessert__choice--checkbox:checked ~ .menu__body__dessert__choice--checked {
  display: flex;
}
.menu__body__dessert__choice--checkbox:checked + .menu__body__dessert__choice__text {
  white-space: nowrap;
  max-width: 65%;
}

/*# sourceMappingURL=style.css.map */
