// box-sizing()
//
// @param {string} $value Type of box-sizing, "border" or "content".
//

@mixin box-sizing($value: border) {
  @if ($value == border) {
    $value: border-box;
  }

  @if ($value == content) {
    $value: content-box;
  }

  * {
    box-sizing: $value;

    &::before,
    &::after {
      box-sizing: inherit;
    }
  }
}

//media queries

@mixin tablet-only {
  @media screen and (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin desktop-only {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}
//mixin façlitant la mise en place des espaces et des distances entre parties
@mixin padding-lr($size: 5%) {
  padding-left: $size;
  padding-right: $size;
}

@mixin padding-tb($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin margin-tb($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

//mixin pour les boutons de formulaire

@mixin btn($width: 185px) {
  position: relative;
  &__input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: white;
    cursor: pointer;
  }
  background: linear-gradient(180deg, $clr-secondary, $clr-primary);
  box-shadow: $shadow-card;
  display: flex;
  height: 50px;
  border-radius: 25px;
  width: $width;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: (0 8px 16px 0 rgba(0, 0, 0, 0.5));
    background: linear-gradient(
      180deg,
      lighten($clr-secondary, 5%),
      lighten($clr-primary, 5%)
    );
    border-radius: 25px;
    z-index: -1;
    opacity: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: all 100ms ease-in;
  }
  &:hover {
    &::after {
      opacity: 1;
      transform: scaleX(1);
    }
  }
}

//Mise en place des checkboxes invisibles
@mixin checkbox {
  position: relative;
  &--checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    z-index: 2;
    -webkit-tap-highlight-color: transparent
  }
}

//mise en place de l'effet favori
@mixin fav-animation {
  &--checkbox {
    &:checked ~ label i:nth-child(1) {
      @include fav-heart(0ms);
      animation-direction: normal;
    }
    &:checked ~ label i:nth-child(2) {
      @include fav-heart(150ms);
      animation-direction: reverse;
    }
  }
}

//mixin photos restaurants
@mixin restaurants($height, $width) {
  @each $key, $value in $restaurants-list {
    &--#{$key} {
      $restaurants: map-get($restaurants-list, $key);
      background: url("../../Assets/restaurants/#{$key}.jpg");
      background-repeat: no-repeat;
      background-size: 100% map-get($restaurants, bgsy);
      background-position-y: map-get($restaurants, bgpy);
      border-top-left-radius: $card-border-radius;
      border-top-right-radius: $card-border-radius;
      display: flex;
      flex-direction: column;
      height: $height;
      width: $width;
      position: relative;
      @include desktop-only {
        background-position-y: map-get($restaurants, bgpy2);
      }
    }
  }
}

//ajout de photos en background sur les pages de commande des restaurants
@mixin restaurants-background {
  @each $key, $value in $restaurants-list {
    &--#{$key} {
      $restaurants: map-get($restaurants-list, $key);
      background: url("../../Assets/restaurants/#{$key}.jpg");
      background-repeat: no-repeat;
      background-size: 100% map-get($restaurants, bgsy2);
      background-position-y: map-get($restaurants, bgpy3);
      display: flex;
      flex-direction: column;
      @include tablet-only {
        background-size: 100% 400px;
      }
      @include desktop-only {
        background-size: 100% map-get($restaurants, bgsy3);
        background-position-x: 0;
        position: relative;
        border-radius: 25px;
      }
    }
  }
}

//mixin animations
@mixin spin-scale($delay) {
  animation: spin 1400ms linear $delay forwards;
}

@mixin fav-heart($delay) {
  animation: fav 150ms ease-in-out $delay forwards;
}

@mixin choice-animation($anim-delay) {
  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      animation-delay: $anim-delay * $i;
    }
  }
}
