// box-sizing()
//
// @param {string} $value Type of box-sizing, "border" or "content".
//

@mixin box-sizing($value: border) {
  @if ($value == border) {
    $value: border-box;
  }

  @if ($value == content) {
    $value: content-box;
  }

  * {
    box-sizing: $value;

    &::before,
    &::after {
      box-sizing: inherit;
    }
  }
}

//media queries

@mixin tablet-only {
  @media screen and (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin desktop-only {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}
//mixin façlitant la mise en place des espaces et des distances entre parties
@mixin padding-lr($size: 5%) {
  padding-left: $size;
  padding-right: $size;
}

@mixin padding-tb($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin margin-tb($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

//mixin pour les boutons de formulaire

@mixin btn($width: 185px) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  color: #ffffff;
  background: linear-gradient(180deg, $clr-secondary, $clr-primary);
  box-shadow: $shadow-card;
  border: none;
  border-radius: 25px;
  width: $width;
  cursor: pointer;
  
  

  &:hover {
    box-shadow: (0 8px 16px 0 rgba(0, 0, 0, 0.5));
    background: linear-gradient(
      180deg,
      lighten($clr-secondary, 8%),
      lighten($clr-primary, 8%)
    );

  }   
}
  


//Mise en place des checkboxes invisibles
@mixin checkbox {
  position: relative;
  &--checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
}

//mise en place de l'effet favori
@mixin fav-animation {
   &--checkbox {
    &:checked ~ label i:nth-child(1) {
     @include fav-heart(0ms);
     animation-direction: normal;
    }
    &:checked ~ label i:nth-child(2) {
      @include fav-heart(150ms);
      animation-direction: reverse;
    }
  }
}

//mixin photos restaurants
@mixin restaurants($height, $width) {
  @each $key, $value in $restaurants-list {
    &--#{$key} {
      $restaurants: map-get($restaurants-list, $key);
      background: url("../assets/restaurants/#{$key}.jpg");
      background-repeat: no-repeat;
      background-size: 100% map-get($restaurants, bgsy);
      background-position-y: map-get($restaurants, bgpy);
      display: flex;
      flex-direction: column;
      height: $height;
      width: $width;
      position: relative;
      @include desktop-only {
        background-position-y: map-get($restaurants, bgpy2);
      }
    }
  }
}

//ajout de photos en background sur les pages de commande des restaurants
@mixin restaurants-background {
  @each $key, $value in $restaurants-list {
    &--#{$key} {
      $restaurants: map-get($restaurants-list, $key);
      background: url("../assets/restaurants/#{$key}.jpg");
      background-repeat: no-repeat;
      background-size: 100% map-get($restaurants,bgsy2);
      background-position-y: map-get($restaurants,bgpy3);
      display: flex;
      flex-direction: column;
      
      @include tablet-only{
        background-size: 100% 400px;
      }
      @include desktop-only{
        background-size: 55% map-get($restaurants,bgsy3);
        background-position-x: 0 ;
        background-color: $clr-card;
        position: relative;
      }
    }
  }
}



@mixin spin-scale($delay) {
  animation: spin 1400ms linear $delay forwards;
}

@mixin fav-heart($delay){
  animation: fav 150ms ease-in-out $delay forwards;
}