.main {
  @include restaurants-background;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 220px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  background-color: $clr-card;
  padding-top: 20px;
  padding-bottom: 70px;
  @include tablet-only {
    margin-top: 260px;
  }
  @include desktop-only {
    margin-top: 400px;
    border-radius: 0px;
    background-color: white;
    padding-left: 0;
  }
  @include padding-lr(4%);
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    @include desktop-only {
      position: absolute;
      right: 1%;
      top: 150px;
      width: 385px;
      font-size: 1em;
    }
    &--fav {
      margin-right: 7%;
      @include checkbox;
      @include fav-animation;
      width: 23px;
      height: 23px;
    }
  }
  &__body {
    @each $var in $map-menu {
      &__#{$var} {
        margin-bottom: 45px;
        opacity: 1;
        @include tablet-only{
          animation: menu-animation 500ms forwards cubic-bezier(.09,1,.28,.86);
          
        }
        @include desktop-only {
          @include padding-lr(4%);
          @include padding-tb(10px, 10px);
          background-color: $clr-card;
          border-radius: $card-border-radius;
          box-shadow: $shadow-card;
          width: 750px;
          margin-left: 10px;
        }
        &__underline {
          display: inline-block;
          padding-bottom: 5px;
          border-bottom: 3px solid $clr-tertiary;
        }
        &__title {
          margin-left: 1%;
          margin-bottom: 14px;
        }
        &__choice {
          @include checkbox;
          display: flex;
          min-height: 70px;
          border-radius: $card-border-radius;
          background-color: white;
          box-shadow: $shadow-card;
          margin-bottom: 15px;
          align-items: flex-end;
          overflow: hidden;
          width: 100%;
          justify-content: space-between;
          opacity: 0;
          animation: choice-animation 200ms forwards ease-out;
          @include choice-animation(200ms);

          @include desktop-only {
            margin-bottom: 25px;
            &:hover {
              & .menu__body__#{$var}__choice--checked {
                display: flex;
              }
              & .menu__body__#{$var}__choice__text{
                white-space: nowrap;
                max-width: 74%;
                
              }
            }
          }
          
           
            &__text {
              display: flex;
              flex-direction: column;
              
              
              padding-left: 3%;
              
              @include padding-tb(12px, 12px);
              width: 82%;
              

              &__title {
                font-size: 1.12em;
                font-weight: 500;
                overflow: hidden;
                text-overflow: ellipsis;
                @include margin-tb(0, 0);
              }
              &__subhead {
                font-size: 0.924em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                @include margin-tb(5px,0);
              }
            }
            &__price {
              font-weight: 500;
              margin-bottom: 12px;
              padding-right: 15px;
             
            }
          
          &--checked {
            display: none;
            flex-basis: 17%;
            min-width: 60px;
            background-color: $clr-tertiary;
            min-height: 70px;
            justify-content: space-around;
            align-items: center;
            color: white;
            
          }
          &--checkbox {
            &:checked {
              & ~ .menu__body__#{$var}__choice--checked {
                display: flex;
              }
              & + .menu__body__#{$var}__choice__text {
                white-space: nowrap;
                max-width: 65%;
                
              }
            }
          }
        }
      }
    }
  }
}


