.main {
  @include restaurants-background;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 220px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  background-color: $clr-card;
  padding-top: 20px;
  padding-bottom: 70px;
  @include tablet-only {
    margin-top: 260px;
  }
  @include desktop-only {
    margin-top: 400px;
    border-radius: 0px;
    background-color: white;
    padding-left: 0;
  }
  @include padding-lr(4%);
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    &__figcaption__like {
      position: relative;
      width: 22px;
      height: 22px;
      cursor: pointer;
      z-index: 2;
      margin-bottom: 2px;
      margin-right: 25px;
      @include checkbox;
      &:hover .menu__head__figcaption__like__fullheart {
        @include desktop-only {
          opacity: 1;
          transition: 400ms ease-in-out;
        }
      }
      &--checkbox {
        &:checked ~ .menu__head__figcaption__like__fullheart {
          opacity: 1;
          transition: 400ms ease-in-out;
        }
      }
      &__emptyheart {
        width: 22px;
        position: absolute;
      }
      &__fullheart {
        width: 22px;
        position: absolute;
        opacity: 0;
      }
    }
    @include desktop-only {
      position: absolute;
      right: 1%;
      top: 150px;
      width: 385px;
    }
    
  }
  &__body {
    @each $var in $map-menu {
      &__#{$var} {
        margin-bottom: 45px;
        opacity: 1;
        @include tablet-only {
          animation: menu-animation 500ms forwards
            cubic-bezier(0.09, 1, 0.28, 0.86);
        }
        @include desktop-only {
          @include padding-lr(4%);
          @include padding-tb(10px, 10px);
          background-color: $clr-card;
          border-radius: $card-border-radius;
          box-shadow: $shadow-card;
          width: 750px;
          margin-left: 10px;
        }
        &__underline {
          display: inline-block;
          padding-bottom: 5px;
          border-bottom: 3px solid $clr-tertiary;
        }
        &__title {
          margin-left: 1%;
          margin-bottom: 14px;
        }
        &__choice {
          @include checkbox;
          display: flex;
          min-height: 70px;
          border-radius: $card-border-radius;
          background-color: white;
          box-shadow: $shadow-card;
          margin-bottom: 15px;
          align-items: flex-end;
          overflow: hidden;
          width: 100%;
          justify-content: space-between;
          opacity: 0;
          animation: choice-animation 400ms forwards ease-out;
          @include choice-animation(100ms);
          &:hover{
            & .menu__body__#{$var}__choice--checked .fa-solid.fa-circle-check{
              animation: circle 600ms forwards;
            }
          }
          @include desktop-only {
            margin-bottom: 25px;
            &:hover {
              & .menu__body__#{$var}__choice--checked {
                display: flex;
                animation: checked-animation 600ms forwards;
                transform-origin: right;
              }
              .menu__body__#{$var}__choice__price {
                transform: scale(1.2);
                transition: transform 600ms;
              }
              
            }
          }

          &__text {
            display: flex;
            flex-direction: column;
            padding-left: 3%;
            @include padding-tb(12px, 12px);
            width: 82%;
            &__title {
              overflow: hidden;
              text-overflow: ellipsis;
              @include margin-tb(0, 0);
            }
            &__subhead {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              @include margin-tb(5px, 0);
              
            }
          }
          &__price {
            margin-bottom: 12px;
            padding-right: 15px;
          }

          &--checked {
            display: none;
            flex-basis: 17%;
            background-color: $clr-tertiary;
            min-height: 70px;
            justify-content: space-around;
            align-items: center;
            color: white;
          }
          &--checkbox {
            &:checked {
              & ~ .menu__body__#{$var}__choice--checked {
                display: flex;
                animation: checked-animation 400ms forwards;
                transform-origin: right;
              }

              & + .menu__body__#{$var}__choice__text {
                white-space: nowrap;
                max-width: 64.7%;
                @include desktop-only {
                  animation: choice-text 400ms forwards 140ms;
                  transform-origin: left;
                }
              }
              & + .menu__body__#{$var}__choice__text p:nth-child(1) {
               width: 93%;
              }
            }
          }
        }
      }
    }
  }
}

