//Bouton recherche de l'accueil
.search__form__presentation--btn{
    @include margin-tb(0px, 0px);
    @include btn(220px);
}


//bouton commander
.menu__body__btn-container{
  display: flex;
  justify-content: space-around;
  &--btn{
  @include btn(186px);
  }
}

//boutons coeur

.restaurants__container__card__description--fav {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    @include checkbox;
    @include fav-animation;
  }

  //Icone favori
.restaurants i{
    position: absolute;
    right: 5px;
    top: 6px;
  }
  
  .fa-solid.fa-heart{
    background: linear-gradient(180deg, $clr-primary,$clr-secondary);
    background-clip: text;
    color: transparent;
    display: none;
  }
  