//Bouton recherche de l'accueil
.search__form__presentation--btn {
  @include margin-tb(0px, 0px);
  @include btn(220px);
  @media screen and (min-width: 768px) {
    position: absolute;
    right: 5%;
    top: 145px;
  }
}

//bouton commander
.menu__body__btn-container {
  display: flex;
  justify-content: space-around;
  &--btn {
    @include btn(186px);
  }
}

//boutons coeur

.restaurants__container__card__description--fav {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  @include checkbox;
  @include fav-animation;
  @include desktop-only {
    &:hover {
      label i:nth-child(1) {
        @include fav-heart(0ms);
        animation-direction: normal;
      }
      label i:nth-child(2) {
        @include fav-heart(150ms);
        animation-direction: reverse;
      }
    }
  }
}

//Icone favori
.restaurants i {
  right: 5px;
  top: 6px;
}

.fa-heart{
  position: absolute;
  &.fa-solid{
    background: linear-gradient(180deg, $clr-primary, $clr-secondary);
    background-clip: text;
    color: transparent;
    opacity: 0;
  }
}


