//carte de la partie fonctionnement de l'accueil
.functionning__list--card {
  display: flex;
  align-items: center;
  height: 75px;
  width: calc(100% - 10px);
  padding-left: 0;
  background-color: $clr-card;
  box-shadow: $shadow-card;
  border-radius: $card-border-radius;
  align-self: flex-end;
  margin-bottom: 25px;
  position: relative;
  padding-left: 10%;
  padding-right: 25%;
  @include tablet-only {
    width: 500px;
    height: 100px;
    align-self: center;
    font-size: 1.3em;
    margin-bottom: 50px;
    @include padding-lr(30px);
  }
  &:hover {
    background-color: lighten($clr-primary, 35%);
  }
  &:hover .functionning__list--card--icon {
    color: $clr-primary;
  }
  &__number {
    display: flex;
    font-size: 0.7em;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: $clr-primary;
    color: white;
    position: absolute;
    left: -10px;
  }
  &__title {
    margin-left: 20px;
  }
  &--icon {
    display: inline-block;
    color: grey;
    margin: 0;
    padding: 0;
    @include tablet-only {
      margin-right: 60px;
    }
  }
}

// Cartes accueil restaurants

.restaurants__container__card {
  display: flex;
  flex-direction: column;
  height: percentage(calc($card_height/$c-card-height));
  border-radius: $card-border-radius;
  box-shadow: $shadow-card;
  overflow: hidden;
  position: relative;
  &__link {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__c-photo {
    display: flex;
    flex-direction: column;                                                 //à enlever
    height: percentage(calc($card-c-photo-height/$card-height));
    position: relative;

    @include restaurants(70%);
    &--new-label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 25px;
      color: darken($clr-tertiary, $amount: 30%);
      background-color: $clr-tertiary;
      box-shadow: -1px 0 1px 1px $clr-tertiary;
      position: absolute;
      right: 10px;
      top: -3px;
    }
  }
  &__description {
    display: flex;
    height: percentage(calc($card-description/$card-height));
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 5px 15px;
    position: relative;
    &__txt {
      display: flex;
      flex-direction: column;
      height: 44px;
      justify-content: space-between;
      &--name {
        
        text-transform: capitalize;
        @include margin-tb(0,0);
      }
      &--location {
        
        @include margin-tb(0,0);
      }
    }
    &--fav {
      width: 30px;
      height: 30px;
      margin-bottom: 15px;
      @include checkbox;

      &__checkbox {
        z-index: 2;
        //Non fonctionnel animation à mettre en place
        &:checked ~ label i:nth-child(1) {
          display: none;
        }
        &:checked ~ label i:nth-child(2) {
          display: inline-block;
        }
      }
    }
  }
}

section:nth-child(3) i{
  position: absolute;
  right: 5px;
  top: 14px;
}

.rainbow.fa-heart {
  background: linear-gradient(180deg,$clr-primary,$clr-secondary);
  color: #fff;
  display: none;
}
