@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

body {
  font-family: "roboto", sans-serif;
}

h1 {
  font-size: 1.5em;
}

.search__form__presentation__subhead {
  font-size: 1.1em;
  font-weight: 300;
}

.functionning__list--card{
  @include tablet-only{
    font-size: 1.3em;
  }
  &__number{
    font-size: 0.7em;
  }
}

.restaurants__container__card__description__txt--name {
  font-weight: 500;
  font-size: 1.2em;
  text-transform: capitalize;
}

.restaurants__container__card__description__txt--location {
  font-weight: 300;
}

.footer__container__title {
  font-family: shrikhand;
  font-size: 1.2em;
}

.fa-heart {
  font-size: 1.4em;
}

.menu h1 {
  font-family: shrikhand;
  font-size: 1.7em;
  @include desktop-only {
    font-size: 2em;
  }
}

.menu__body {
  @each $var in $map-menu {
    &__#{$var} {
      &__title {
        font-size: 1em;
        font-weight: 300;
        text-transform: uppercase;
      }
      &__choice {
        &__text {
          &__title {
            font-size: 1.15em;
            font-weight: 500;
          }
          &__subhead {
            font-size: 0.924em;
          }
        }
        &__price {
          font-weight: 500;
        }
      }
    }
  }
}

.loader{
  font-size: 5em;
}
