//partie fonctionnement
.functionning{
    height: 440px;
    padding-top: 40px;
    @include tablet-only {
        height: auto;
    }
    &__title{
        @include margin-tb(0,30px);
        @include tablet-only{
            margin-bottom: 60px;
        }
    }
    @include padding-lr();
    &__list{
        display: flex;
        flex-direction: column;
        padding-left: 0;
        @include tablet-only{
            align-items: center;        
            
        }
    }
}