.header {
  display: flex;
  height: 65px;
  align-items: center;
  justify-content: space-around;
  position: relative;
  @include tablet-only {
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
  }
  @include desktop-only {
    height: 150px;
    padding-top: 20px;
    margin-bottom: 30px;
  }
  //logo
  &__logo {
    display: inline-block;
    width: $logo-width;
    height: 30px;
  }
  //lien vers Accueil
  &--index-link {
    position: absolute;
    left: 23px;
    @include desktop-only {
      display: none;
    }

    &--large {
      display: none;
      & a {
        position: relative;
        text-decoration: none;
        color: white;
        border-radius: 25px;
        box-shadow: $shadow-card;
        border: none;
        background-color: #444;
        @include padding-lr(25px);
        @include padding-tb(10px, 10px);
        cursor: pointer;
        z-index: 1;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: lighten(#444, 30%);
          box-shadow: (0 8px 16px 0 rgba(0, 0, 0, 0.5));
          border-radius: 25px;
          z-index: -1;
          opacity: 0;
          transform: scale(0);
          transition: all 100ms ease-in;
        }
        &:hover {
          &::after {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
      @include desktop-only {
        display: block;
      }
    }
  }
}
//icone de flèche
.fa-arrow-left {
  color: #000000;
}
