.restaurants {
  height: 1225px;
  @include padding-lr();
  background-color: $clr-card;
  padding-top: 45px;
  margin-bottom: 0;

  @include tablet-only {
    height: fit-content;
    padding-bottom: 50px;
  }

  @include desktop-only {
    background-color: #fff;
  }

  &__title {
    @include margin-tb(0, 20px);

    @include tablet-only {
      margin-bottom: 80px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: $c-card-height;
    margin-bottom: 25px;
    justify-content: space-between;

    @include tablet-only {
      flex-direction: row;
      height: fit-content;
      margin-bottom: 50px;
    }

    @include desktop-only {
      margin-bottom: 100px;
      justify-content: space-around;
    }

    &__card {
      display: flex;
      flex-direction: column;
      height: 48%;
      border-radius: $card-border-radius;
      box-shadow: $shadow-card;
      position: relative;
      z-index: 1;

      &::after {
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        border-radius: $card-border-radius;
        box-shadow: 0 8px 16px 0 lighten($clr-primary, 30%);
        z-index: -1;
        opacity: 0;
        transition: all 250ms;
      }

      @include tablet-only {
        width: 340px;
        height: 255px;
      }

      @include desktop-only {
        width: 430px;
        height: 375px;

        &:hover {
          &::after {
            opacity: 1;
            transform: scaleX(1);
          }
        }
      }
      &__figcaption__like {
        width: 22px;
        height: 22px;
        cursor: pointer;
        z-index: 2;
        margin-bottom: 2px;
        @include checkbox;
        &:hover .restaurants__container__card__figcaption__like__fullheart {
          @include desktop-only {
            opacity: 1;
            transition: 400ms ease-in-out;
          }
        }
        &--checkbox {
          &:checked ~ .restaurants__container__card__figcaption__like__fullheart {
            opacity: 1;
            transition: 400ms ease-in-out;
          }
        }
        &__emptyheart {
          width: 22px;
          position: absolute;
        }
        &__fullheart {
          width: 22px;
          position: absolute;
          opacity: 0;
        }
      }

      &__link {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
      }
      //mixin ajoutant les photos en css
      &__c-photo {
        @include restaurants(70%, 100%);

        &--new-label {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 80px;
          height: 25px;
          color: darken($clr-tertiary, $amount: 30%);
          background-color: $clr-tertiary;
          box-shadow: -1px 0 1px 1px $clr-tertiary;
          position: absolute;
          right: 10px;
          top: -3px;
        }
      }

      &__description {
        display: flex;
        height: percentage(calc($card-description/$card-height));
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 5px 15px;
        position: relative;

        &__txt {
          display: flex;
          flex-direction: column;
          height: 44px;
          justify-content: space-between;

          &--name {
            text-transform: capitalize;
            @include margin-tb(0, 0);
          }

          &--location {
            @include margin-tb(0, 0);
          }
        }
      }
    }
  }
}

